		/* Global things */
*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body
{
	color: #eee;
	font-family: Tahoma, sans-serif;
	font-size: 40px;
	background-color: rgb(12, 14, 21);
}


.title
{
	text-align: center;
	padding-top: 10%;
}
		/* Clock container */

#clock
{
	width: 80%;
	height: 200px;
	background-color: rgb(0, 150, 255);
	margin: 30px auto;
	border-radius: 14px;
	
	text-align: center;
	color: rgb(12, 14, 21);
}

#clock p
{
	font-size: 70px;
	padding-top: 40px;
}

.footer 
{
	text-align: center;
}

.footer a
{
	color: rgb(0,200,255);
}

.creation_date
{
	font-size: 24px;
}


